# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
.eggs/
.eggs-info/
*.egg-info/
*.egg
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytestdebug.log

# PyCharm / VSCode / IDEs
.idea/
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variables files
.env

# Docker
*.log

#JSON CONFIG FILES
*.json
sa.json
*service*account*.json
*credentials*.json
.env
.env.*

